body {
    background-image: linear-gradient(#090f1d, #090F1d),
        url(../../assets/images/body\ bg\ img.png);
        background-size: cover;
        background-blend-mode: multiply;
        
}
